<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>Log In:</h1>
    <form method="post" action="/user/login">
        <lable>Email:</lable>
        <input type="text" required name="email"></input>
        <lable>Password:</lable>
        <input type="text" required name="password"></input>
        <button type="submit">Login</button>
    </form>
</body>
</html>